.map-container {
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 5px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 455px;
    width: 100%;
  }
  
  #map {
    height: 100%;
    width: 100%;
  }